<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="wrap title">
  <div class="grid organisation">
    <div class="unit whole">
      <div class="author">
        A story about <strong><%= @story.organisation.name %></strong>
        by <strong><%= @story.user.first_name %></strong>
      </div>
    </div>
  </div>
</div>

<div class="wrap story-page shadow">
  <div class="grid">
    <div class="unit one-quarter images">
      <%= image_tag(defined?(story.user.profile_picture) ? story.user.profile_picture : "http://gravatar.com/avatar") %>
      <img src="http://lorempixel.com/474/474" class="logo" />
    </div>
    <div class="unit three-quarters story-detail">
      <div class="title">
        <h2><%= @story.title %></h2>
      </div>
      <div class="summary">
        <q>The new Youth Scheme changed my life. Also, they gave me some free Coke!</q>
      </div>
      <div class="date">
        <%= @story.created_at.to_formatted_s(:long) %>
      </div>
      <div class="content">
        <%= @story.content %>
      </div>
      <div class="interactions">
        <p>
          <strong>Questions:</strong>
          <% @story.story_questions.each do |story_question| %>
          <div>
            <%= story_question.content %>
            <ul>
              <% story_question.story_question_responses.each do |response| %>
              <li>
                <%= response.value %>
              </li>
              <% end %>
            </ul>
            <% end %>
        </p>
        <p>
          <strong>Relatabilities:</strong>
          <% @story.relatabilities.each do |relatability| %>
          <div>
            <%= relatability.value %>
            <%= relatability.comment %>
            <% end %>
          </div>
        </p>
        <%= link_to 'Edit', edit_story_path(@story) %> |
        <%= link_to 'Back', stories_path %>
        </div>
      </div>
      <div class="rating">
      </div>
    </div>
  </div>
</div>
