<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="wrap title">
  <div class="grid organisation">
    <div class="unit whole">
      <div class="author">
        A story about <strong><%= link_to @story.organisation.name, organisation_path(@story.organisation) %></strong>
        by <strong><%= @story.user.first_name %></strong>
      </div>
    </div>
  </div>
</div>

<div class="wrap story-page shadow">
  <div class="grid">
    <div class="unit one-quarter images">
      <%= image_tag(defined?(story.user.profile_picture) ? story.user.profile_picture : "http://gravatar.com/avatar") %>
      <img src="/logos/coke_logo.png" class="logo" />
    </div>
    <div class="unit three-quarters story-detail">
      <div class="title">
        <h2><%= @story.title %></h2>
      </div>
      <div class="summary">
        <q>The new Youth Scheme changed my life. Also, they gave me some free Coke!</q>
      </div>
      <div class="date">
        <%= @story.created_at.to_formatted_s(:long) %>
      </div>
      <div class="content story-content">
        <%= @story.content.html_safe %>
      </div>
      <div class="interactions">
        <h3>Questions</h3>
        <div class="interact">
          <% @story.story_questions.each do |story_question| %>
          <div class="question line">
            <div class="question_content">
              <%= story_question.content %>
            </div>
            <div class="toggle">
              <input type="checkbox" id="agree" name="agree" data-on="Yes" data-off="No" />
            </div>
          </div>
          <% end %>
        </div>
        <h3>Do you empathise with this story?</h3>
        <div class="interact">
          <div class="empathy line">
            <div class="toggle">
              <input type="checkbox" id="agree" name="agree" data-on="Yes" data-off="No" />
            </div>
          </div>
        </div>
        <h3>Impact</h3>
        <div class="interact">
          <% @story.relatabilities.each do |relatability| %>
          <div class="val">
            <%# relatability.value %>
            <%# relatability.comment %>
            <% end %>
          </div>
          <div class="rating">
            <div class="positive">
              <h3>73%</h3>
            </div>
            <div class="negative">
              <h3>27%</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!--<%= link_to 'Edit', edit_story_path(@story) %> |
          <%= link_to 'Back', stories_path %>-->
  </div>
</div>
</div>
