<p id="notice"><%= notice %></p>

<div class="wrap story-page shadow">
  <div class="grid organisation">
    <div class="unit one-quarter logo">
      <img src="http://lorempixel.com/474/474" class="logo" />
    </div>
    <div class="unit three-quarters">
      <strong>Related organisation:</strong>
      <h1><%= @story.organisation.name %></h1>
    </div>
  </div>
  <div class="grid title">
    <div class="unit whole">
      <h2><%= @story.title %></h2>
    </div>
  </div>
  <div class="grid story-detail">
    <div class="unit whole">
      <div class="meta">
        <div class="author">
          <%= image_tag(defined?(story.user.profile_picture) ? story.user.profile_picture : "http://gravatar.com/avatar") %>
          Written by <%= @story.user.full_name %>, on <%= @story.created_at.to_formatted_s(:long) %>
        </div>
      </div>
      <div class="content">
        <%= @story.content %>
      </div>
      <p>
        <strong>Questions:</strong>
        <% @story.story_questions.each do |story_question| %>
        <div>
          <%= story_question.content %>
          <ul>
            <% story_question.story_question_responses.each do |response| %>
            <li>
              <%= response.value %>
            </li>
            <% end %>
          </ul>
          <% end %>
      </p>
      <p>
        <strong>Relatabilities:</strong>
        <% @story.relatabilities.each do |relatability| %>
        <div>
          <%= relatability.value %>
          <%= relatability.comment %>
          <% end %>
        </div>
      </p>
      <%= link_to 'Edit', edit_story_path(@story) %> |
      <%= link_to 'Back', stories_path %>
      </div>
    </div>
    <div class="grid rating">
    </div>
  </div>
</div>
