<div class="wrap hero">
  <div class="grid">
    <div class="whole">
      <h1>
        What are your thoughts on the brands and organisations that affect you
        daily?
      </h1>
      <%= link_to 'Tell your story', new_story_path %>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="grid heading">
    <h2>Latest Stories</h2>
  </div>
  <div class="grid">
    <div class="listing">
      <% @most_recent_stories.each do |story| %>
      <div class="story">
        <div class="layer">
          <h2><%= link_to story.title, story  %></h2>
          <%= defined?(story.image) ? (link_to "<div class='image'>#{image_tag(story.image)}</div>").htmlsafe : ""  %>
          <div class="content">
            <%= truncate story.content, length: 250 %>
          </div>
          <div class="meta">
            <%= image_tag(defined?(story.user.profile_picture) ? story.user.profile_picture : "https://s3.amazonaws.com/uifaces/faces/twitter/lepetitogre/128.jpg") %>
            <span class="profile">
              <%= story.user.full_name %>
            </span> on 
            <span class="org"><%= link_to story.organisation.name, story.organisation %></span>, 
            <span class="date">
              <%= time_ago_in_words(story.created_at) %> ago
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
